*{
    margin: 0;
}

#main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:hsl(0, 0%, 8%) ;
}
#container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 250px;
    border-radius: 2%;
    background-color: hsl(0, 0%, 12%);
}


img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

button {
    height: 35px;
    width: 200px;
    border-radius: 6px;
}

.name{
    color:hsl(0, 0%, 100%);
}

.location {
    color: hsl(75, 94%, 57%);
}

.about {
    color: hsl(0, 0%, 100%);
}